.route-open-modal-spinner {
  text-align: center;
  padding: 40px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
