{{#bootstrap-modal modalId="exampleModal"}}
  {{bootstrap-modal-header modalTitle="Example Modal Title" modalId="exampleModal"}}

  {{#bootstrap-modal-body}}
    some text for the body
  {{/bootstrap-modal-body}}

  {{#bootstrap-modal-footer}}
    footer
  {{/bootstrap-modal-footer}}
{{/bootstrap-modal}}

{{outlet}}
